app = "project-ocho"
primary_region = "iad"

[build]

[deploy]
  release_command = "echo 'Deploying Project Ocho'"

[env]
  NODE_ENV = "production"
  PORT = "8080"

[processes]
  app = "node --max-old-space-size=400 --expose-gc server.js"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
